
.background {
  margin: 0;
  padding: 0;
  background-color: blue; 
  height: 100vh;

 
}

.container {
display: flex;
align-items: center;
justify-content: space-between;
  min-height: 100vh;

}
.containermain{
display: flex;
flex-direction: row;
margin-top: 10px;


}
.head{
  position: relative;

display: flex;
flex-direction: column;
align-items: center;
padding-left: 40px;
padding-right: 40px;
}

.box{
padding-top: 15px;
border-radius: 20px;
height: 400px;
width: 280px;
  background-color: white;
  position: relative;
  margin: auto;
}

h3{
position: absolute;

top: 25px;
 font-size: xx-large;
}

ul{


 
}

li{

padding: 2px;
  font-size: smaller;
 
}
.bodyy{
position: absolute;
top: 100px;

width: 100%;

}


.buttonclass{



text-align: center;

}
h5{


  font-size: small;
}

button{
border: solid;
border-radius: 20px;
  width: 210px;
}


ul{

color: black;
  list-style-type: none;
}
i{

padding-right: 10px;


}
html, body {

  background-color: blue;
}

